<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConsultarUsuarios</servlet-name>
        <servlet-class>servlet.ConsultarUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarUsuarios</servlet-name>
        <url-pattern>/ConsultarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GestionProveedores</servlet-name>
        <servlet-class>servlet.GestionProveedores</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionProveedores</servlet-name>
        <url-pattern>/GestionProveedores</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActualizarUsuarios</servlet-name>
        <servlet-class>servlet.ActualizarUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarUsuarios</servlet-name>
        <url-pattern>/ActualizarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>inicioSesion</servlet-name>
        <servlet-class>servlet.inicioSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inicioSesion</servlet-name>
        <url-pattern>/inicioSesion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registrarProveedores</servlet-name>
        <servlet-class>servlet.registrarProveedores</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrarProveedores</servlet-name>
        <url-pattern>/registrarProveedores</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registrarUsuarios</servlet-name>
        <servlet-class>servlet.registrarUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrarUsuarios</servlet-name>
        <url-pattern>/registrarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>actualizarProveedores</servlet-name>
        <servlet-class>servlet.actualizarProveedores</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>actualizarProveedores</servlet-name>
        <url-pattern>/actualizarProveedores</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>actualizarArticulos</servlet-name>
        <servlet-class>servlet.actualizarArticulos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>actualizarArticulos</servlet-name>
        <url-pattern>/actualizarArticulos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registrarArticulos</servlet-name>
        <servlet-class>servlet.registrarArticulos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrarArticulos</servlet-name>
        <url-pattern>/registrarArticulos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GestionCiudades</servlet-name>
        <servlet-class>servlet.GestionCiudades</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionCiudades</servlet-name>
        <url-pattern>/GestionCiudades</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registrarCiudades</servlet-name>
        <servlet-class>servlet.registrarCiudades</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrarCiudades</servlet-name>
        <url-pattern>/registrarCiudades</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registrarTipoUsuario</servlet-name>
        <servlet-class>servlet.registrarTipoUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrarTipoUsuario</servlet-name>
        <url-pattern>/registrarTipoUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GestionTipoUsuario</servlet-name>
        <servlet-class>servlet.GestionTipoUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionTipoUsuario</servlet-name>
        <url-pattern>/GestionTipoUsuario</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>registrarTipoMov</servlet-name>
        <servlet-class>servlet.registrarTipoMov</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrarTipoMov</servlet-name>
        <url-pattern>/registrarTipoMov</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GestionTipoMov</servlet-name>
        <servlet-class>servlet.GestionTipoMov</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionTipoMov</servlet-name>
        <url-pattern>/GestionTipoMov</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>resgistrarEstadoUsuario</servlet-name>
        <servlet-class>servlet.resgistrarEstadoUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resgistrarEstadoUsuario</servlet-name>
        <url-pattern>/resgistrarEstadoUsuario</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GestionEstadoUsuario</servlet-name>
        <servlet-class>servlet.GestionEstadoUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionEstadoUsuario</servlet-name>
        <url-pattern>/GestionEstadoUsuario</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>registrarEstadoArticulo</servlet-name>
        <servlet-class>servlet.registrarEstadoArticulo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrarEstadoArticulo</servlet-name>
        <url-pattern>/registrarEstadoArticulo</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GestionarEstadoArticulo</servlet-name>
        <servlet-class>servlet.GestionarEstadoArticulo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionarEstadoArticulo</servlet-name>
        <url-pattern>/GestionarEstadoArticulo</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ActualizarFormaPago</servlet-name>
        <servlet-class>servlet.ActualizarFormaPago</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarFormaPago</servlet-name>
        <url-pattern>/ActualizarFormaPago</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GestionarFactura</servlet-name>
        <servlet-class>servlet.GestionarFactura</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionarFactura</servlet-name>
        <url-pattern>/GestionarFactura</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GestionarFormaPago</servlet-name>
        <servlet-class>servlet.GestionarFormaPago</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionarFormaPago</servlet-name>
        <url-pattern>/GestionarFormaPago</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>registrarFactura</servlet-name>
        <servlet-class>servlet.registrarFactura</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrarFactura</servlet-name>
        <url-pattern>/registrarFactura</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>registrarFormaPago</servlet-name>
        <servlet-class>servlet.registrarFormaPago</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrarFormaPago</servlet-name>
        <url-pattern>/registrarFormaPago</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>registrarInventario</servlet-name>
        <servlet-class>servlet.registrarInventario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrarInventario</servlet-name>
        <url-pattern>/registrarInventario</url-pattern>
    </servlet-mapping>    
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
