/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/10/2020, 07:53:13 PM
    Author     : Famil
*/
body{
    font-family: 'Scada', sans-serif;
}
a {
    color: white;
}
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
}
.contenedor{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.contenedor-subtitulo{
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;

}
.contenedor-titulo {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    text-shadow: 2px 3px 1px gray;

}
.contenedor-texto {
    font-family: 'Cuprum', sans-serif;
    font-size: 35px;

}
.contenedor-img {
    margin-left: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 5px 0px black;
}

.cont-footer{
    display: flex;
    justify-content: space-around;
    background-color: #06070E;
}
.footer-items1{
    margin-top: 3%;
    margin-bottom: 3%;
}

.footer-items1 p{
    color: white;
}
.footer-items1 p:hover{
    color: #09ABC4;
}
.footer-items1 i{
    font-size: 30px;
    color: white;
    margin-left: 8%;
    padding-top: 4%;   
}

.footer-items1 i:hover{
    color: #09ABC4;
}

