*{
    padding: 0%;
    margin: 0%;
}

:root {
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;
}

h1{
    color: white;
    text-shadow: 1px 1px 5px gray;

}
body{
    font-family: 'Scada', sans-serif;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
}

.bg-dark { 
    
    background-color: var(--dark) !important; }

label {
    color: white;
}

.bg-dark-x {
    background-color: var(--dark-x) !important;
    color: white;
}

.form-control, btn {
    min-height: 3.125rem;
    line-height: initial;
}
p{
    color: white;
}
.img-1{
    background-image: url('../imagenes/colga (1).jpeg');
    background-size: cover;
    background-position: center;
}

.btn-primary{
    background-color: #5186c9;
    color: black;
    border-color: #5186c9;
}
.btn-primary:hover{
    background-color: #f9b243;
    border-color: #f9b243;
}
a {
    color: white;
}
.cont-footer{
    display: flex;
    justify-content: space-around;
    background-color: #06070E;
}
.footer-items1{
    margin-top: 3%;
    margin-bottom: 3%;
}

.footer-items1 p{
    color: white;
}
.footer-items1 p:hover{
    color: #09ABC4;
}
.footer-items1 i{
    font-size: 30px;
    color: white;
    margin-left: 8%;
    padding-top: 4%;   
}

.footer-items1 i:hover{
    color: #09ABC4;
}


